<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <title>Document</title>
  </head>
  <body>
      <div class="side_nav">
          <div>
            <img
              class="side_imgbox"
              src="/static/img/coronaimg.png"
              alt="*"
              width="150"
              height="150"
            />
          </div>
          <a href="/ex1">
            <div class="side_nav_menu">INTRO</div>
          </a>
          <a href="/ex2">
            <div class="side_nav_menu">COVID-19 E.D.A</div>
          </a>
      
        </div>
    <hr class="m-0" />
    <section class="resume-section" id="project">
      <div class="resume-section-content">
          <h1 class="mb-5">E.D.A</h1>
          <hr class="m-0" />
          <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
              <div class="flex-grow-1">
                  <P>
                  <h3 class="mb-0">Covid-19 Confirmed Cases per Country</h3>
                  </P>
                  <p>
                    <img src="/static/img/confirmed Cases.png" width="900">
                  </p>
                  <h4>
                      • 각 나라별로 현재 코로나 발생 환자 수를 pie_chart로 표현
                  <br>• 확진자 수 상위 10개 나라 및 나머지 나라들의 수치 합을 보여준다
                  </h4>
              </div>
              <div class="flex-shrink-0"><span class="text-primary">
                  <div class="resume-section-content">
                    
                  </div>
              </div>
          </div>
          <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
              <div class="flex-grow-1">
                  <hr class="m-0" />
                  <P>
                  <h3 class="mb-0">World Daily Increase in Confirmed Cases</h3>
                  </P>
                  <p>
                    <img src="/static/img/World_Daily.png" width="900" height="600">
                  </p>
                  <h4>
                      • 2020/01/22 이후의 누적 확진자 수 증가와 새로운 확진자 수를 한 그래프 안에서 표현
                  <br>• 누적 확진자 (청색) Bar 그래프 표현
                  <br>• 신규 확진자 수(황색) Plot 그래프 표현
                  </h4>
              </div>
              <div class="flex-shrink-0"><span class="text-primary">
                  <div class="resume-section-content">
                    
                  </div>
              </div> 
          </div>
          <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
              <div class="flex-grow-1">
                  <hr class="m-0" />
                  <P>
                  <h3 class="mb-0">Confirmed Cases In Map</h3>
                  </P>
                  <p>
                    <img src="/static/img/map.png" width="900" height="600">
                  </p>
              </div>
              <div class="flex-shrink-0"><span class="text-primary">
                  <div class="resume-section-content">
                    
                  </div>
              </div> 
          </div>
          <div class="d-flex flex-column flex-md-row justify-content-between">
              <div class="flex-grow-1">
                  <hr class="m-0" />
                  <P>
                  <h3 class="mb-0">Confirmed Cases In Map</h3>
                  </P>
                  <p>
                    <img src="/static/img/caseworld.png" width="450" height="600">&nbsp;
                    <img src="/static/img/caseworld1.png" width="450" height="600">

            <br><br><img src="/static/img/caseworld2.png" width="450" height="600">&nbsp;
                    <img src="/static/img/caseworld3.png" width="450" height="600">
                  </p>
              </div>
              <div class="flex-shrink-0"><span class="text-primary">
                  <div class="resume-section-content">
                    
                  </div>
              </div>
              <div class="flex-shrink-0"><span class="text-primary">
                  <div class="resume-section-content">
                    
                  </div>
              </div> 
          </div>
          <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
              <div class="flex-grow-1">
                  <hr class="m-0" />
                  <P>
                  <h3 class="mb-0">Global Spread of the Coronavirus Over Time</h3>
                  </P>
                  <p>
                    <img src="/static/img/over_time.png" width="900" height="600">
                  </p>
              </div>
              <div class="flex-shrink-0"><span class="text-primary">
                  <div class="resume-section-content">
                    
                  </div>
              </div> 
          </div>
          </div>
      </div>
  </section>
  <hr class="m-0" />
  </body>
</html>
